<%= render Practical::Views::OpenDialogButtonComponent.new(dialog_id: dialog_id, appearance: "filled outlined", size: :small) do %>
  <%= pagy_t('pagy.nav.gap').html_safe %>
<% end %>

<%= render Practical::Views::ModalDialogComponent.new(id: dialog_id) do |component| %>

  <% component.with_header do %>
    <%= pagy_t("pagy.nav.goto_page_form.legend") %>
  <% end %>
  <section class="wa-stack">
    <p><%= page_detail_text %></p>
    <%= form_wrapper do |f| %>
      <% uri_parts.params.each do |key, value| %>
        <%= hidden_field_for_goto_form(key: key, value: value) %>
      <% end %>

      <section class="wa-cluster">
        <%= f.number_field :page, value: pagy.page, placeholder: pagy.page.to_s, required: true, min: 1, max: pagy.last %>
        <%= f.button_component(type: :submit, color_variant: :neutral, appearance: :filled) do
          pagy_t("pagy.nav.goto_page_form.button")
        end %>
      </section>
    <% end %>
  </section>
<% end %>