<%= form_wrapper do |f| %>
  <section class="wa-stack">
    <%= f.input_component(:passkey_label) do |component|
      component.with_label { f.field_title(icon: icon_set.passkey_label_icon, title: "Passkey label") }

      component.with_field {
        f.text_field(:passkey_label, component.field_options(
          placeholder: t("practical_framework.forms.placeholders.passkey_label"),
          required: true,
          data: {"focusout-validation": true}
        ))
      }
    end %>

    <%= f.hidden_field :passkey_credential %>
    <%= f.fallback_error_section(id: generic_errors_id) %>

    <section>
      <%= f.button_component(type: :submit, color_variant: :success) do
        icon_text(icon: icon_set.passkey_icon, text: "Register passkey")
      end %>
    </section>
  </section>
<% end %>
