<%= form_wrapper do |f| %>
  <%= f.fieldset do %>
    <%= f.legend do %>
      <%= f.fieldset_title(icon: icon_set.send_email_icon, title: t("organization_memberships.invitation_form.title")) %>
    <% end %>

    <%= f.input_component(:email) do |component|
      component.with_label { f.field_title(icon: icon_set.email_address_icon, title: "Email") }

      component.with_field {
        f.email_field(:email, component.field_options(
          placeholder: t("practical_framework.forms.placeholders.email"),
          autocomplete: "email",
          required: true,
          data: {"focusout-validation": true}
        ))
      }
    end %>

    <%= f.fieldset("aria-required": true, id: f.field_id(:membership_type)) do %>
      <%= f.legend do %>
        <%= f.fieldset_title(icon: icon_set.badge_icon, title: "Role") %>
        <%= f.field_errors :membership_type, class: 'wa-visually-hidden', id!: f.field_id(:membership_type, :errors_aria) %>
      <% end %>

      <%= f.required_radio_collection_wrapper(:membership_type, "validation-message": form.errors.generate_message(:membership_type, :blank), class: "wa-stack") do %>
        <%= f.radio_collection(field_method: :membership_type, options: helpers.membership_type_options) %>
      <% end %>

      <%= f.field_errors :membership_type, "aria-hidden": true, id!: f.field_id(:membership_type, :errors) %>
    <% end %>

    <%= f.fallback_error_section(id: generic_errors_id) %>

    <section>
      <%= f.button_component(type: :submit, color_variant: :success, options: {data: {disable: true}}) do
        icon_text(icon: icon_set.send_email_icon, text: t("organization_memberships.invitation_form.submit_button_title"))
      end %>
    </section>
  <% end %>
<% end %>
